<div class="row">
  <div class="col-lg-8">
    <img class="img-fluid" style="width: 100%" src="{{poster}}">
    <a class="style-1" href="/shows/{{id}}/edit">Edit Show</a>
    <a class="style-1" rel="nofollow" data-method="delete" href="/shows/1">Delete Show</a>
    <a class="style-1" data-id="{{id}}" data-city="{{city}}" data-city-id="{{cityId}}" id="next-show" href="#">Next Show</a>
  </div>
  <div class="col-lg-4">
    <h1>{{name}}</h1>
    <h3>{{month}}</h3>
    <h1>{{date}}</h1>
    <h4>{{day}}</h4>
    <h5>Venue: <a class="style-1" href="/venues/{{venueId}}">{{venueName}}</a></h5>
  {{#artist}}
    <div style="width: 100%" class="card">
      <div class="card-block">
        <a href="/artists/{{id}}"><img src="{{photo}}" class="card-img-top"></a>
        <h4 class="card-title"><a class="style-1" href="/artists/1">{{name}}</a></h4>
      </div>
    </div>
    {{/artist}}
  </div>
</div>
