<div class="row">
  <div class="col-lg-4 my-3">
    <div style="width: 100%" class="card">
      <div class="card-block">
        <div class="thumbnail">
          <a href="/shows/4"><img src="https://cdn.shopify.com/s/files/1/0140/7312/products/blondie.gif?v=1481334417" class="img-fluid card-img-top">
            <div class="card-img-overlay">
               <div>Oct</div>
               <h4 class="my-0">26</h4>
           </div>
          </a>
        </div>
        <h5 class="card-header">
          <a class="style-1" href="/shows/4">Blondie at CGBG</a>
        </h5>
      </div>
    </div>
  </div>  
</div>
