<div class="form-group col-md-6">
  <label for="show[artists_attributes][][name]">Artist name</label>
  <input class="form-control" type="text" name="show[artists_attributes][][name]" placeholder="Artist Name">
</div>

<div class="form-group col-md-6">
  <label for="show[artists_attributes][][image]">Artist name</label>
  <input class="form-control" type="text" name="show[artists_attributes][][image]" placeholder="square format please">
</div>
