<div class="card-deck">
  <div style="width: 18rem" class="card"><div class="card-block">
    <img src="{{artist.image}}" class="card-img-top">
    <h5 class="card-header">{{artist.name}}</h5>
</div></div>



  <div class="card">
    <div class="card-block">
    <p class="card-text"></p>
      <h4 class="card-title">Upcoming Shows</h4>
          {{#artist.shows}}
          <li class="list-group-item"><a class="style-1" href="/shows/{{id}}">{{name}}</a></li>
          {{/artist.shows}}
      <p></p>
    </div>
  </div>
</div>
